#screenshot {
  width: 400px;
  margin: 0 auto;
  height: auto;
}

#username {
  color: #1DB954;
  font-size: 15px;
}

.app-container {
  width: 500px;
  margin: 0 auto;
}

body{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(121,121,121,1) 100%);
  background-size: cover;
  background-color: rgb(95, 95, 95);
  margin: 0 auto;
}

img {
  border-radius: 2px;
}

.selection-text {
  padding-top: 50px;
  width: 210px;
  margin: 0 auto;
}

.customized-container {
  display: inline-flex;
  align-items: start;
  justify-content: space-between;
  width: 350px;
}

.grid-container {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 375px;
}

.grid-title {
  font-size: 8px;
  padding-top: 5px;
  padding-bottom: 7px;
  width: 80px;
  margin: 0 auto;
}

.item-container {
  width: 100px;
}

.text {
  margin-top: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: white;
  padding: 100px;
}

.radio {
  color: white;
  cursor: pointer;
  font-size: 10px;
  margin-top: 12px;
  margin-bottom: 10px;
  text-align: left;
  accent-color: #1DB954;
}

.button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  align-items: center;
  justify-content: center;
  display: inline;
}

.choices {
  display: inline;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

.choice-container {
  width: 350px;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

h4{
  margin-top: 10px;
  margin-bottom: 10px;
}